
.page1{
    width: 100vw;
    height: auto;
}
.main-page{
    display: flex;
    
   
    
}

.middle-column{
    min-width: 450px;
    flex-grow: 1;
    max-width: 45%;
    padding: 10px;
}
.right-column{
    min-width: 250px;
    max-width: 25%;
 
    flex-grow: 1;
}

.left-column{

    width: 30%;
    min-width: 330px;
    flex-grow: 1;
}

.main-page>div {
    border: 1px solid black;
}

tr{
    padding-bottom: 15px;
}

.table-item-bold{
    font-weight: bold;
}

.product-title-main{
    font-weight: 400;
    font-size: 24px;
}

.about-item-title{
    font-weight: 700;
    font-size: 16px;
}

.product-title-box ul li{
    list-style: none;
}
.product-title-box ul{
    padding: 0 5px;
}
.product-title-box{
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.visit-merchant-link{
    padding-top: 10px;
}
.blue-link{
    color: #007185;
    cursor: pointer;
}
.review-rating-bar{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
}
.num-rating{
    border-right: 1px solid black;
}