
.main-page{
    position: relative;
    display: flex;
    justify-content: space-between;
    
}

.middle-column{
    
    min-width: 300px;
    /* flex-grow: 1; */
    max-width: 45%;
    padding: 14px 16px;
    margin: 0 10px;
    
}
.right-column{
    
    min-width: 260px;
    max-width: 260px;
    height: 1400px;
    
    
}

.left-column{

    width: 30%;
    min-width: 300px;
    /* flex-grow: 1; */
    
}

tr{
    padding-bottom: 15px;
}

.table-item-bold{
    font-weight: bold;
}

.product-title-main{
    font-weight: 400;
    font-size: 24px;
}
.product-description-box{
    border-top: 0.7px solid rgb(207, 204, 204);
}
.about-item-box{
    border-top: 0.7px solid rgb(207, 204, 204);
}

.bold-black-text{
    font-weight: 700;
    font-size: 16px;
}

.product-title-box ul li{
    list-style: none;
}
.product-title-box ul{
    padding: 0 5px;
}

.visit-merchant-link{
    padding-top: 10px;
}

.blue-link:hover{
    color: #a8491c;
    cursor: pointer;
    text-decoration: underline;
}
.review-rating-bar{
    display: flex;
    align-items: center;
    
   
}
.num-rating{
    border-right: 1px solid black;
}


.green-text{
    color: rgb(0, 118, 0);
}

/* .right-column{
    position: relative;
    right: 15px;
    top: 20px;
    margin-left: 15px;
} */
.right-column-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-column-top>*{
    padding: 5px 0;
}
.checkbox-text{
    font-weight: 100;
    display: inline;
}

.right-column-inner-container{
    padding: 15px;
    margin: 5px 10px;
    border: 1px solid black;
    border-radius: 10px;
  
    
}
.button-yellow, .button-orange{
    color: black;
    display: block;
    width: 100%;
    padding: 7px 0;
    margin:8px 0;
    border-top-left-radius:25px ;
    border-top-right-radius:25px ;
    border-bottom-left-radius:25px ;
    border-bottom-right-radius:25px ;
    border: none;
    font-size: 13px;
    font-weight: 100;
}
.button-orange{
    background-color: rgb(235, 143, 0) ;
}
.button-yellow{
    background-color: rgb(252, 210, 0) ;
}

.button-orange:hover{
    background-color:  rgb(216, 134, 2) ;
}
.button-yellow:hover{
    background-color:  rgb(235, 196, 1) ;
}
 .right-column-lower{
     margin-bottom: 10px;
 }

.fa-lock{
    color: grey;
    font-size: 17px;
}

.right-column-middle>table{
    margin: 10px 0;
}
.add-to-list-button{
    border-top: 0.7px solid rgb(180, 212, 212);
}
.add-to-list-button button{
    width: 100%;
    border-radius: 3px;
    text-align: center;
    border: 1px solid rgb(141, 156, 156);
    padding: 5px 3px;
    margin-top: 15px;
}

.in-stock{
    font-size: 18px;
    padding: 5px 0;
   
}

.new-from-button{
    border: 1px solid rgb(199, 199, 199);
    background-color: transparent;
    width: 100%;
    display: block;
    border-radius: 5px;
}
.right-column-bottom-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px 10px;
    padding: 15px;
}
 /*\\\\\\\\\\\\\\\\\\\\\\\\\ GALLERY ////////////////////////// */

.gallery-wrapper{
    height: 1000px;
    width: 100%;
}
.image-gallery-container{
    padding: 5px 10x;
    margin-left: 8px;
    width: 100%;
    height: 400px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    
}
.image-gallery-column>img{
    display: block;
}
.image-gallery-column{
    display: flex;
    width:20%;
    flex-direction: column;

}
.image-gallery-main{
    display: block;
    width: 100%;
    align-items: center;
    padding: 10px 5px;
    
}
.image-gallery-main>img{
    width:100%;

}


.small-img{
    display: block;
    width: 40px;
    padding-top: 10px;
}
.small-img:hover{
   border: 10px rgb(216, 134, 2);
   cursor: pointer;
}






  .right-lower-image-box{
      display: block;
      width:80%;
      border:4px soild #a8491c;
  
  }
 
.right-lower-image-box>img{
    display: block;
    width:100%;
    height: auto;
    padding: 5px;

}
.tiny-black-text{
    font-size: 12px;
    font-weight: 300;
}
.share-sell{
    align-items: center;
    text-align: center;
}
.share-sell>*{
    
    display: block;
}
  