
.main-page{
    position: relative;
    display: flex;
    justify-content: space-between;
    
}

.middle-column{
    
    min-width: 450px;
    flex-grow: 1;
    max-width: 45%;
    padding: 10px;
    
}
.right-column{
    
    min-width: 250px;
    max-width: 250px;
    border: 1px solid black;
    border-radius: 10px;
    flex-grow: 1;
}

.left-column{

    width: 30%;
    min-width: 300px;
    flex-grow: 1;
    
}

/* .main-page>div {
    border: 1px solid black;
} */

tr{
    padding-bottom: 15px;
}

.table-item-bold{
    font-weight: bold;
}

.product-title-main{
    font-weight: 400;
    font-size: 24px;
}



.bold-black-text{
    font-weight: 700;
    font-size: 16px;
}

.product-title-box ul li{
    list-style: none;
}
.product-title-box ul{
    padding: 0 5px;
}

.visit-merchant-link{
    padding-top: 10px;
}

.blue-link:hover{
    color: #a8491c;
    cursor: pointer;
    text-decoration: underline;
}
.review-rating-bar{
    display: flex;
    align-items: center;
}
.num-rating{
    border-right: 1px solid black;
}


.green-text{
    color: rgb(0, 118, 0);
}

.right-column{
    position: relative;
    right: 15px;
    top: 20px;
    margin-left: 15px;
}
.right-column-top{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.right-column-top>*{
    padding: 5px 0;
}
.checkbox-text{
    font-weight: 100;
    display: inline;
}

.right-column-inner-container{
    padding: 15px;
  
    
}
.button-yellow, .button-orange{
    color: black;
    display: block;
    width: 212px;
    padding: 7px 0;
    margin:8px 0;
    border-top-left-radius:25px ;
    border-top-right-radius:25px ;
    border-bottom-left-radius:25px ;
    border-bottom-right-radius:25px ;
    border: none;
    font-size: 13px;
    font-weight: 100;
}
.button-orange{
    background-color: rgb(235, 143, 0) ;
}
.button-yellow{
    background-color: rgb(252, 210, 0) ;
}

.button-orange:hover{
    background-color:  rgb(216, 134, 2) ;
}
.button-yellow:hover{
    background-color:  rgb(235, 196, 1) ;
}
 .right-column-lower{
     margin-bottom: 10px;
 }

.fa-lock{
    color: grey;
    font-size: 17px;
}

.right-column-middle>table{
    margin: 10px 0;
}
.add-to-list-button{
    border-top: 0.7px solid rgb(180, 212, 212);
}
.add-to-list-button button{
    width: 210px;
    border-radius: 3px;
    text-align: center;
    border: 1px solid rgb(141, 156, 156);
    padding: 5px 3px;
    margin-top: 15px;
}

.in-stock{
    font-size: 18px;
    padding: 5px 0;
   
}

.new-from-button{
    border: 1px solid rgb(199, 199, 199);
    background-color: transparent;
    width: 220px;
    display: block;
}

  