

.header{
   display: flex;
   flex-direction: column;
}

.logo{
    color: aliceblue;
}
.top-navbar{
    display: flex;
    height: 60px;
    background:#131921;
    
}

.top-nav-items{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    padding: 10px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    
}

 .top-nav-items li a{
    padding: 5px;
     color: white;
     text-decoration: none;
     
 }

 .top-nav-items li{
     list-style: none;

 }
 .search-bar{
     padding-top: 5px;
     width: 60%;
     max-width: 100%;
     height: 100%;
     display: flex;
     flex-wrap: nowrap;
     align-items: center;
 }
 .search-bar >input{
     
     width: 100%;
     height: 45px;
     max-width: 100%;
    border: 0.5px solid #131921 ;
    border-right: none;
 }
  
  .searchButton {
    
    width: 50px;
    height: 44.5px;
    border: 1px solid #f1bf60;
    background: #f1bf60;
    text-align: center;
    color: rgb(71, 71, 71);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    border-left: none;
    font-size: 13px;
  }
  .searchButton:hover{
    border: 1px solid  #eeb157;
    background: #eeb157;
  }
  

/*------------------------ LOWER NAVBAR----------------------------- */


.lower-nav{
    background: rgb(35, 47, 62);
    height: 40px;
    align-items: center;
    text-align: center;
    
}
 .lower-nav-items{
     display: flex;
     flex-wrap: nowrap;
 }
 .lower-nav-items ul{
     width: 100%;
     
     
 }
 .lower-nav-items li{

    padding: 5px;
    color: white;
    text-decoration: none;
    list-style: none;
    padding: 10px;

 }

.lower-ad-nav{
    background: rgb(226, 228, 229);
    height: 40px;
}
 


