

.header{
    width: 100%;
   display: flex;
   flex-direction: column;
   flex-shrink: 2;
   flex-grow: 1;
   
}
@media(max-width: 980px){
    /* .header{
        width: 160vw;
    } */
}


.top-navbar{
    width: 100%;
    display: flex;
    height: 60px;
    background:#131921;
    flex-shrink: 2;
    flex-grow: 1;
    
    
}

.top-nav-items{
    display: flex;
    flex-shrink: 2;
    width: 100%;
    padding:0 10px;
    margin: 0 8px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    
}
.logo>img{
    width:90px;
    height: auto;
    padding-top: 14px;
}

.top-nav-items li{
 list-style: none;
 padding: 0 3px;
 margin: 3px 5px;
 white-space: nowrap;

}
 .top-nav-items li a{
    padding: 5px;
     color: white;
     text-decoration: none;
     
    }
    
 .search-bar{
     padding-top: 5px;
     width: 60%;
     max-width: 100%;
     height: 100%;
     display: flex;
     align-items: center;
 }
 .search-bar >input{
     
     width: 100%;
     height: 45px;
     min-width: 300px;
     max-width: 100%;
    border: 0.5px solid #131921 ;
    border-right: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
 }
  
  .searchButton {
    
    width: 50px;
    min-width: 50px;
    height: 44px;
    border: 1px solid #f1bf60;
    background: #f1bf60;
    text-align: center;
    color: rgb(71, 71, 71);
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    border-left: none;
    font-size: 20px;
  }
  .searchButton:hover{
    border: 1px solid  #eeb157;
    background: #eeb157;
  }
  

/*------------------------ LOWER NAVBAR----------------------------- */


.lower-nav{
    background: rgb(35, 47, 62);
    height: 40px;
    align-items: center;
    text-align: center;
    
}
 .lower-nav-items{
     display: flex;
     flex-wrap: nowrap;
 }
 .lower-nav-items ul{
     width: 100%;
     
     
 }
 .lower-nav-items li{

    padding: 5px;
    color: white;
    text-decoration: none;
    list-style: none;
    padding: 10px;

 }

 /* -------------------------LOWER AD NAVBAR -------------------------------*/


.lower-ad-nav{
    display: flex;
    flex-wrap: nowrap;
    justify-content:center;
    background: rgb(245, 247, 248);
    height: 40px;
   margin-bottom: 22px;
}
.lower-ad-nav>*{
    padding:5px;
}
.inline-ad-logo>img{
   
    height: 100%;
    padding: 0 3px;
    
}
.inline-ad-image>img{
    
    height: 100%;
    overflow: hidden;
}
 .inline-ad-description{
     max-width: 60%;
     white-space: nowrap;   
     overflow: hidden;
     padding-top: 9px;

 }
 .stars{
     white-space: nowrap;
 }

